<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.comz.store.mapper.StateMapper">
    <select id="findAll" resultType="com.comz.store.entity.State">
        select * from
            db_project.t_state
    </select>


</mapper>